{% extends "base.html" %}

{% block content %}
  <div class="container">
      <h3>Ты кто такой? Сначала попроси доступа у Сына Ктулху!<br></h3><br>
      <h5>Доброго времени суток, сектант <b>великого Ктулху!</b> Не знаешь что это за сайт и для чего нужен? Не беда.<br>
          Этот сайт предназначен для оперативного получения информации по 🇰🇮 <b>Сумрачному замку</b> в текстовой MMORPG в Телеграме Chat Wars.<br><br>

          Чтобы получить топ-секретные данные с древних табличек Ктулху, тебе необходимо <b>переслать сообщение</b> с профилем своего героя в наш замковый бот: <a title="Замковый бот" href="tg://resolve?domain=CommandCtulhuBot">@CommandCtulhuBot</a><br>
          Получив доступ к функционалу Сына Ктулху, нажми на кнопку 💬<b>Связь</b> и тебе выдадут твою персональную ссылку.<br><br>

          *Если ты ещё не начал играть в эту текстовую MMORPG в Телеграме, то держи <a title="Играть в ЧатВарс" href="https://telegram.me/ChatWarsBot?start=31d4ed267bc242efa703d16c23457363"> ссылку </a>, в списке замков выбери Сумрачный, и получи свои первые 10 золотых монет! </h5>
  </div>
{% endblock %}