{% extends "base.html" %}

{% block content %}
  <div class="container">
      <h3>Ты кто такой? Сначала попроси доступа у Сына Ктулху!<br></h3><br>
      <h5>Доброго времени суток, сектант <b>великого Ктулху!</b><br>
          Этот сайт предназначен для оперативного получения тактической и справочной информации по 🇰🇮 <b>Сумрачному замку</b> в текстовой MMORPG в Телеграме <b>"Chat Wars"</b>.<br><br>

          Чтобы получить доступ к древним табличкам Р'льеха, тебе необходимо переслать в замкового бота <a title="Замковый бот" href="tg://resolve?domain=CommandCtulhuBot">@CommandCtulhuBot</a> свой игровой профиль из @ChatWarsBot (🏅 команда "/hero").
          Нажми на кнопку 💬<b>Связь</b> в боте, чтобы получить свою персональную ссылку на сайт.<br><br>

          *Если ты ещё не начал играть в "Chat Wars", то держи <a title="Играть в ЧатВарс" href="https://telegram.me/ChatWarsBot?start=31d4ed267bc242efa703d16c23457363"> ссылку </a>, в списке замков выбери Сумрачный, и получи свои первые 10 золотых монет! </h5>
  </div>
{% endblock %}