<h3> Коды предметов на бирже </h3>

Адамантитовая руда /wtb_114 <br>
Алюминиевая руда /wtb_111<br>
Веревка /wtb_122<br>
Ветки /wtb_102<br>
Древесный уголь /wtb_106<br>
Железная руда /wtb_108<br>
Заготовка кузнеца /wtb_133<br>
Заготовка ремесленника /wtb_145<br>
Загуститель /wtb_118<br>
Зерно /wtb_137<br>
Кожа /wtb_120<br>
Кокс /wtb_123<br>
Комбикорм /wtb_136<br>
Кость животного /wtb_104<br>
Костяная пудра /wtb_121<br>
Лезвие кинжала демона /wtb_166<br>
Лезвие кинжала охотника /wtb_165<br>
Лезвие трезубца /wtb_139<br>
Лезвие экскалибура /wtb_138<br>
Металлический лист /wtb_126<br>
Металлическое волокно /wtb_130<br>
Мифриловая руда /wtb_112<br>
Мифриловый сплав /wtb_146<br>
Мясо монстров /wtb_178<br>
Нитки /wtb_101<br>
Обломок кирки шахтеров /wtb_167<br>
Обломок молота гномов /wtb_168<br>
Обломок костолома /wtb_169<br>
Обработанная кожа /wtb_131<br>
Очищенная пудра /wtb_124<br>
Печать власти /wtb_1405<br>
Плащ Варлорда /wtb_1404<br>
Плотная ткань /wtb_109<br>
Порошок /wtb_107<br>
Рецепт кинжала охотника /wtb_173<br>
Рецепт ботинок демона /wtb_163<br>
Рецепт браслетов демона /wtb_164<br>
Рецепт шапки демона /wtb_162<br>
Рецепт кинжала демона /wtb_174<br>
Рецепт брони паладина /wtb_152<br>
Рецепт перчаток паладина /wtb_155<br>
Рецепт сапогов паладина /wtb_154<br>
Рецепт шлема паладина /wtb_153<br>
Рецепт щита паладина /wtb_156<br>
Рецепт кирки шахтеров /wtb_170<br>
Рецепт молота гномов /wtb_171<br>
Рецепт костолома /wtb_172<br>
Рецепт трезубца /wtb_144<br>
Рецепт экскалибура /wtb_143<br>
Сапфир /wtb_117<br>
Сено /wtb_135<br>
Серебряная заготовка /wtb_132<br>
Серебряная руда /wtb_110<br>
Серебряный сплав /wtb_125<br>
Сталь /wtb_119<br>
Стальная заготовка /wtb_127<br>
Стальная нить /wtb_129<br>
Уголь /wtb_105<br>
Упаковочный материал /wtb_175<br>
Философский камень /wtb_113<br>
Фрагмент ботинок демона /wtb_159<br>
Фрагмент браслетов демона /wtb_160<br>
Фрагмент куртки демона /wtb_157<br>
Фрагмент куртки демона /wtb_161<br>
Фрагмент шапки демона /wtb_158<br>
Фрагмент брони паладина /wtb_140<br>
Фрагмент перчаток паладина /wtb_150<br>
Фрагмент сапогов паладина /wtb_149<br>
Фрагмент шлема паладина /wtb_148<br>
Фрагмент щита паладина /wtb_151<br>
Хомячки /wtb_179<br>
Шкура животного /wtb_103<br>
Шнурок /wtb_128<br>