<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

<div class="row">
<div class="col-md-1">
</div>
<div class="col-md-5">
<h2> Коды предметов на бирже </h2>

</div>
</div>
<div class="row">
<div class="col-md-1">
</div>
<div class="col-md-5">
<h4>По названию</h4>
Адамантитовая руда /wtb_114 <br>
Алюминиевая руда /wtb_111<br>
Веревка /wtb_122<br>
Ветки /wtb_102<br>
Древесный уголь /wtb_106<br>
Железная руда /wtb_108<br>
Заготовка кузнеца /wtb_133<br>
Заготовка ремесленника /wtb_145<br>
Загуститель /wtb_118<br>
Зерно /wtb_137<br>
Кожа /wtb_120<br>
Кокс /wtb_123<br>
Комбикорм /wtb_136<br>
Кость животного /wtb_104<br>
Костяная пудра /wtb_121<br>
Лезвие Алебарды /wtb_193<br>
Лезвие кинжала Демона /wtb_166<br>
Лезвие кинжала Охотника /wtb_165<br>
Лезвие кинжала Триумфа /wtb_194<br>
Лезвие Нарсила /wtb_192<br>
Лезвие Трезубца /wtb_139<br>
Лезвие Экскалибура /wtb_138<br>
Литейная форма /wtb_204<br>
Металлический лист /wtb_126<br>
Металлическое волокно /wtb_130<br>
Мифриловая руда /wtb_112<br>
Мифриловый сплав /wtb_146<br>
Мясо монстров /wtb_178<br>
Нитки /wtb_101<br>
Обломок кирки Шахтеров /wtb_167<br>
Обломок Костолома /wtb_169<br>
Обломок кузнечного молота /wtb_186<br>
Обломок молота гномов /wtb_168<br>
Обработанная кожа /wtb_131<br>
Очищенная пудра /wtb_124<br>
Плотная ткань /wtb_109<br>
Полотно /wtb_183<br>
Порошок /wtb_107<br>
Растворитель /wtb_116<br>
Рецепт Алебарды /wtb_206<br>
Рецепт ботинок Демона /wtb_163<br>
Рецепт браслетов Демона /wtb_164<br>
Рецепт браслетов Триумфа /wtb_213<br>
Рецепт брони Крестоносца /wtb_215<br>
Рецепт брони паладина /wtb_152<br>
Рецепт кинжала Демона /wtb_174<br>
Рецепт кинжала Охотника /wtb_173<br>
Рецепт кинжала Триумфа /wtb_214<br>
Рецепт кирки Шахтеров /wtb_170<br>
Рецепт Клещей /wtb_188<br>
Рецепт Костолома /wtb_172<br>
Рецепт Кузнечного молота /wtb_187<br>
Рецепт Кузнечной робы /wtb_191<br>
Рецепт куртки Демона /wtb_161<br>
Рецепт Молота гномов /wtb_171<br>
Рецепт Нарсила /wtb_205<br>
Рецепт перчаток Крестоносца /wtb_218<br>
Рецепт перчаток паладина /wtb_155<br>
Рецепт рукавиц /wtb_185<br>
Рецепт сапог Крестоносца /wtb_217<br>
Рецепт сапогов Паладина /wtb_154<br>
Рецепт Трезубца /wtb_144<br>
Рецепт шапки Демона /wtb_162<br>
Рецепт шлема Крестоносца /wtb_216<br>
Рецепт шлема Паладина /wtb_153<br>
Рецепт щита Крестоносца /wtb_219<br>
Рецепт щита Паладина /wtb_156<br>
Рецепт Экскалибура /wtb_143<br>
Рубин /wtb_117<br>
Сапфир /wtb_115<br>
Сено /wtb_135<br>
Серебряная заготовка /wtb_132<br>
Серебряная руда /wtb_110<br>
Серебряный сплав /wtb_125<br>
Сталь /wtb_119<br>
Стальная заготовка /wtb_127<br>
Стальная нить /wtb_129<br>
Уголь /wtb_105<br>
Упаковочный материал /wtb_175<br>
Философский камень /wtb_113<br>
Фрагмент ботинок Демона /wtb_159<br>
Фрагмент ботинок Триумфа /wtb_197<br>
Фрагмент браслетов Демона /wtb_160<br>
Фрагмент браслетов Триумфа /wtb_198<br>
Фрагмент брони Крестоносца /wtb_199<br>
Фрагмент брони Паладина /wtb_140<br>
Фрагмент Клещей /wtb_189<br>
Фрагмент Кузнечной робы /wtb_190<br>
Фрагмент Куртки демона /wtb_157<br>
Фрагмент куртки Триумфа /wtb_195<br>
Фрагмент перчаток Крестоносца /wtb_202<br>
Фрагмент перчаток Паладина /wtb_150<br>
Фрагмент Рукавиц /wtb_184<br>
Фрагмент сапог Крестоносца /wtb_201<br>
Фрагмент сапогов Паладина /wtb_149<br>
Фрагмент шапки Демона /wtb_158<br>
Фрагмент шапки Триумфа /wtb_196<br>
Фрагмент шлема Крестоносца /wtb_200<br>
Фрагмент шлема Паладина /wtb_148<br>
Фрагмент щита Крестоносца /wtb_203<br>
Фрагмент щита Паладина /wtb_151<br>
Хомячки /wtb_179<br>
Шкура животного /wtb_103<br>
Шнурок /wtb_128<br>
</div>

<div class="col-md-5">
<h5>По id ресурса</h5>
  
/wtb_101 Нитки <br>
/wtb_102 Ветки <br>
/wtb_103 Шкура животного <br>
/wtb_104 Кость животного<br>
/wtb_105 Уголь <br>
/wtb_106 Древесный уголь <br>
/wtb_107 Порошок	<br>
/wtb_108 Железная руда <br>
/wtb_109 Плотная ткань <br>
/wtb_110 Серебряная руда <br>
/wtb_111 Алюминиевая руда <br>
/wtb_112 Мифриловая руда <br>
/wtb_113 Философский камень <br>
/wtb_114 Адамантитовая руда <br>
/wtb_115 Сапфир <br>
/wtb_116 Растворитель <br>
/wtb_117 Рубин <br>
/wtb_118 Загуститель <br>
/wtb_119 Сталь <br>
/wtb_120 Кожа <br>
/wtb_121 Костяная пудра <br>
/wtb_122 Веревка <br>
/wtb_123 Кокс <br>
/wtb_124 Очищенная пудра <br>
/wtb_125 Серебряный сплав <br>
/wtb_126 Металлический лист <br>
/wtb_127 Стальная заготовка <br>
/wtb_128 Шнурок <br>
/wtb_129 Стальная нить <br>
/wtb_130 Металлическое волокно <br>
/wtb_131 Обработанная кожа <br>
/wtb_132 Серебряная заготовка <br>
/wtb_133 Заготовка кузнеца <br>
/wtb_135 Сено <br>
/wtb_136 Комбикорм <br>
/wtb_137 Зерно <br>
/wtb_138 Лезвие Экскалибура <br>
/wtb_139 Лезвие Трезубца <br>
/wtb_140 Фрагмент брони Паладина <br>
/wtb_143 Рецепт Экскалибура <br>
/wtb_144 Рецепт Трезубца <br>
/wtb_145 Заготовка ремесленника <br>
/wtb_146 Мифриловый сплав <br>
/wtb_148 Фрагмент шлема Паладина <br>
/wtb_149 Фрагмент сапогов Паладина <br>
/wtb_150 Фрагмент перчаток Паладина <br>
/wtb_151 Фрагмент щита Паладина <br>
/wtb_152 Рецепт брони Паладина <br>
/wtb_153 Рецепт шлема Паладина <br>
/wtb_154 Рецепт сапогов Паладина<br>
/wtb_155 Рецепт перчаток Паладина <br>
/wtb_156 Рецепт щита Паладина <br>
/wtb_157 Фрагмент куртки Демона <br>
/wtb_158 Фрагмент шапки Демона <br>
/wtb_159 Фрагмент ботинок Демона <br>
/wtb_160 Фрагмент браслетов Демона<br>
/wtb_161 Рецепт куртки Демона<br>
/wtb_162 Рецепт шапки Демона<br>
/wtb_163 Рецепт ботинок Демона<br>
/wtb_164 Рецепт браслетов Демона<br>
/wtb_165 Лезвие кинжала Охотника<br>
/wtb_166 Лезвие кинжала Демона<br>
/wtb_167 Обломок кирки Шахтеров <br>
/wtb_168 Обломок Молота гномов <br>
/wtb_169 Обломок Костолома <br>
/wtb_170 Рецепт кирки Шахтеров <br>
/wtb_171 Рецепт Молота гномов <br>
/wtb_172 Рецепт Костолома <br>
/wtb_173 Рецепт кинжала Охотника <br>
/wtb_174 Рецепт кинжала Демона <br>
/wtb_175 Упаковочный материал <br>
/wtb_178 Мясо монстров <br>
/wtb_179 Хомячки <br>
/wtb_183 Полотно<br>
/wtb_184 Фрагмент рукавиц <br>
/wtb_185 Рецепт рукавиц <br>
/wtb_186 Обломок кузнечного Молота <br>
/wtb_187 Рецепт кузнечного Молота <br>
/wtb_188 Рецепт Клещей <br>
/wtb_189 Фрагмент Клещей <br>
/wtb_190 Фрагмент кузнечной робы<br>
/wtb_191 Рецепт кузнечной робы <br>
/wtb_192 Лезвие Нарсила <br>
/wtb_193 Лезвие Алебарды <br>
/wtb_194 Лезвие кинжала Триумфа <br>
/wtb_195 Фрагмент куртки Триумфа <br>
/wtb_196 Фрагмент шапки Триумфа<br>
/wtb_197 Фрагмент ботинок Триумфа<br>
/wtb_198 Фрагмент браслетов Триумфа <br>
/wtb_199 Фрагмент брони Крестоносца <br>
/wtb_200 Фрагмент шлема Крестоносца <br>
/wtb_201 Фрагмент сапог Крестоносца <br>
/wtb_202 Фрагмент перчаток Крестоносца<br>
/wtb_203 Фрагмент щита Крестоносца<br>
/wtb_204 Литейная форма<br>
/wtb_205 Рецепт Нарсила <br>
/wtb_206 Рецепт Алебарды<br>
/wtb_213 Рецепт браслетов Триумфа<br>
/wtb_214 Рецепт кинжала Триумфа<br>
/wtb_215 Рецепт брони Крестоносца <br>
/wtb_216 Рецепт шлема Крестоносца <br>
/wtb_217 Рецепт сапог Крестоносца<br>
/wtb_218 Рецепт перчаток Крестоносца<br>
/wtb_219 Рецепт щита Крестоносца<br>
</div>
