{% extends "base.html" %}
{% block buttons %}
                <a href="/squads">
                    <button type="button" class="btn btn-primary" style="width:110px;height:50px">Отряды</button></a>
                <a href="/users">
                    <button type="button" class="btn btn-primary" style="width:110px;height:50px">Игроки</button></a>
                <a href="/reports">
                    <button type="button" class="btn btn-primary" style="width:110px;height:50px">Репорты</button></a>
                <a href="/build">
                    <button type="button" class="btn btn-primary" style="width:110px;height:50px">Стройка</button></a>
                <a href="/top">
                    <button type="button" class="btn btn-primary" style="width:110px;height:50px">Топы</button></a>
                <a href="/squad_craft">
                    <button type="button" class="btn btn-primary" style="width:110px;height:50px">Крафт</button></a>
{% endblock %}

{% block content %}
    <div class="container">
            <a href="http://telegra.ph/Otryady-Sumrachnogo-zamka-07-03">
                <button type="button" class="btn btn-info btn-lg btn-block">️Отряды Сумрачного замка</button></a>
            <a href="https://readymag.com/twilight.castle/navigator/">
                <button type="button" class="btn btn-info btn-lg btn-block"> Гайды по игре</button></a><br>
            <br></div>
    <div class="container">
        <h2>🇰🇮 Добро пожаловать в Сумрачный замок, {{ user }}!</h2><br>
    </div>
    <div class="container">
        <h5><p>⚔️ Ты тут новенький? Тогда тебе обязательно надо записаться в нашу <b>Сумрачную Академию!</b>
Это чат для помощи новичкам, где найти ответ на свой вопрос гораздо легче, а про флуд и спам вы не вспомните.<br>
            Напишите <a title="написать @SeaOfWhales" href="tg://resolve?domain=SeaOfWhales">@SeaOfWhales</a> сообщение: "Хочу в #Академию!"</p>
            <div class="container"><b>Также советуем посетить:</b></div><br>
 🔅 <a title="консилиум" href="https://t.me/sumrachniycouncilium">Официальный канал Консилиума</a><br>
            💬 <a title="конcультанты" href="https://t.me/joinchat/FS7T4kLf5rwW7voLr0eESA"> Чат консультантов 🇰🇮Сумрака</a><br>
            <i>Лучшее место для новичков, ветеранов и инициативных личностей.</i>
На твои вопросы ответят представители руководства, учителя Академии и другие активные граждане 🇰🇮Сумрачного замка!
    </h5>
   </div>
{% endblock %}