<html>
  <head>
      <meta charset="utf-8">
      <title>DuskStats</title>

      <meta name="viewport" content="width=device-vidth, initial-scale=1">

      <!-- CDN BOOTSTRAP -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
      <!-- ------------- -->

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand"><b>ВСумраке</b></a>
            </div>

        </div>
    </nav>

<div class="container">
<h4>    Выберите по каким параметрам отображать статистику</h4>
</div>
  <br>
  <div class="container">
<button type="button" class="btn btn-primary" style= "width:120px;height:60px" >Отряды</button>

<button type="button" class="btn btn-primary" style= "width:120px;height:60px" >Игроки</button>

<button type="button" class="btn btn-primary" style= "width:120px;height:60px" >Репорты</button>

<button type="button" class="btn btn-primary" style= "width:120px;height:60px" >Стройка</button>

<button type="button" class="btn btn-primary" style= "width:120px;height:60px" >Топы</button>

<button type="button" class="btn btn-primary" style= "width:120px;height:60px" >Крафт</button>

</div>
</body>
</html>