{% extends "base.html" %}
{% block buttons %}
                <a href="../squads">
                    <button type="button" class="btn btn-primary" style="width:110px;height:50px">Отряды</button></a>
                <a href="../users">
                    <button type="button" class="btn btn-primary" style="width:110px;height:50px">Игроки</button></a>
                <a href="../reports">
                    <button type="button" class="btn btn-primary" style="width:110px;height:50px">Репорты</button></a>
                <a href="../build">
                    <button type="button" class="btn btn-primary" style="width:110px;height:50px">Стройка</button></a>
                <a href="../top">
                    <button type="button" class="btn btn-primary" style="width:110px;height:50px">Топы</button></a>
                <a href="../squad_craft">
                    <button type="button" class="btn btn-primary" style="width:110px;height:50px">Крафт</button></a>
{% endblock %}

{% block content %}
  <div class="container">
      {{ output }}
  </div>
{% endblock %}