{% extends "base.html" %}
{% block content %}

  <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><b><font color="#7fffd4">ВСумраке</font></b></a>
                </div>
            <div class="container">
                    <button type="button" class="btn btn-secondary" style= "width:110px;height:50px" >Отряды</button>
                <a href="/users">
                    <button type="button" class="btn btn-primary" style= "width:110px;height:50px" >Игроки</button></a>
                <a href="/reports">
                    <button type="button" class="btn btn-primary" style= "width:110px;height:50px" >Репорты</button></a>
                <a href="/build">
                    <button type="button" class="btn btn-primary" style= "width:110px;height:50px" >Стройка</button></a>
                <a href="/top">
                    <button type="button" class="btn btn-primary" style= "width:110px;height:50px" >Топы</button></a>
                <a href="/squad_craft">
                    <button type="button" class="btn btn-primary" style= "width:110px;height:50px" >Крафт</button></a>
            </div>
            </div>
        </nav>
  </div>
<br>
    <div class="container">
      <b>Отряды Сумрака</b>
    <br>
  <br>
    <table border="2">
        <tr><td><b>Название отряда</b></td></tr>
  {% for v in output %}
      <tr>
      <td><div>{{ v }}</div></td>
      </tr>
  {% endfor %}
    </table>
    </div>
{% endblock %}