<html>
  <head>
      <meta charset="utf-8">
      <title>DuskStats</title>

      <meta name="viewport" content="width=device-vidth, initial-scale=1">

      <!-- CDN BOOTSTRAP -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
      <!-- ------------- -->

  </head>

  <body>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><b>ВСумраке</b></a>
            </div>
        </div>
    </nav>
  </div>
<br>
    <table border="2">
            <tr><td><b>Telegram username</b></td></tr>

        {% set count = 0 %}
        {% for user in output %}
            <tr>
      <td>
          <div>
          <a href="/player/{{ link[loop.index0] }}">@{{ user }}</a>
              {% set count = count + 1 %}
      </div>
      </td>
            </tr>
  {% endfor %}
    </table>
  </body>
</html>