{% extends "base.html" %}
{% block buttons %}
                <a href="/squads">
                    <button type="button" class="btn btn-primary" style="width:110px;height:50px">Отряды</button></a>
                    <button type="button" class="btn btn-secondary" style="width:110px;height:50px">Игроки</button>
                <a href="/reports">
                    <button type="button" class="btn btn-primary" style="width:110px;height:50px">Репорты</button></a>
                <a href="/build">
                    <button type="button" class="btn btn-primary" style="width:110px;height:50px">Стройка</button></a>
                <a href="/top">
                    <button type="button" class="btn btn-primary" style="width:110px;height:50px">Топы</button></a>
                <a href="/squad_craft">
                    <button type="button" class="btn btn-primary" style="width:110px;height:50px">Крафт</button></a>
{% endblock %}

{% block content %}
    <div class="container">
        <b>Игроки Сумрака</b>
        <div>Всего записей в боте: <b>{{ characters|length }}</b></div>
        <br>
        <div class="container-fluid">
            <div class="table-responsive">
                <table border="2" class="table table-hover">
                    <thead>
                    <tr>
                        <th>Ник в игре</th>
                        <th>Имя в Telegram</th>
                        <th>Telegram Username</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for character, user in characters %}
                        <tr>
                            <td>
                                <div>
                                    <a href="/player/{{ user.id }}">{{ character.name }}</a>
                                </div>
                            <td>{{ user }}</td>
                            <td>@{{ user.username }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}