<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags always come first -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">


</head>
<body>
<style>
	
	h1 {
	font-family:Helvetica;
	font-size: 20pt;
	}
	h2 {
	font-family:Helvetica;
	font-size: 16pt;
	}
	h3 {
	font-family:Helvetica;
	font-size: 12pt;
	}
	h4 {
	font-family:Helvetica;
	font-size: 10pt;
	}
</style>
	<div class="container">
		<div class="row">
			<div class="col-md-11 offset-md-1" style="margin-top: 20px;">
				<h1>Количество упаковок на вещь</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-11 offset-md-1" style="margin-top: 20px;">
				<div class="row">
					<div class="col-md-4">
						<table class="table table-bordered table-sm">
							<thead>
								<tr>
									<th style="width: 40%;"><h4 align="center">Зачар</h4></th>
									<th style="width: 60%;"><h4 align="center">Кол-во</h4></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><h4 align="center">⚡️+1 - ⚡️+3</h4></td>
									<td><h4 align="center">Кол-во упаковки x2</h4></td>
								</tr>
								<tr>
									<td><h4 align="center">⚡️+4 и больше</h4></td>
									<td><h4 align="center">Кол-во упаковки x3</h4></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-11 offset-md-1" style="margin-top: 30px; margin-bottom: 15px">
				<h2>Т0</h2>
				<div class="row">
					<div class="col-md-4">
						<h3>Вещи из лавки</h3>
						<table class="table table-bordered table-sm" style="background: #D0E0E3">
							<thead>
								<tr>
									<th style="width: 70%;"><h4>Вещь</h4></th>
									<th style="width: 30%;"><h4 align="center">Кол-во</h4></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><h4>Эльфийское копье</h4></td>
									<td><h4 align="center">1</h4></td>
								</tr>
								<tr>
									<td><h4>Рапира</h4></td>
									<td><h4 align="center">1</h4></td>
								</tr>
								<tr>
									<td><h4>Мифриловый щит</h4></td>
									<td><h4 align="center">1</h4></td>
								</tr>
								<tr>
									<td><h4>Мифриловый шлем</h4></td>
									<td><h4 align="center">1</h4></td>
								</tr>
								<tr>
									<td><h4>Мифриловая броня</h4></td>
									<td><h4 align="center">1</h4></td>
								</tr>
								<tr>
									<td><h4>Мифриловые перчатки</h4></td>
									<td><h4 align="center">1</h4></td>
								</tr>
								<tr>
									<td><h4>Мифриловые сапоги</h4></td>
									<td><h4 align="center">1</h4></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-11 offset-md-1" style="margin-top: 15px; margin-bottom: 15px">
				<h2>Т1</h2>
				<div class="row">
					<div class="col-md-4">
						<h3>Сет хранителя</h3>
						<table class="table table-bordered table-sm" style="background: #F4CCCC">
							<thead>
								<tr>
									<th style="width: 70%;"><h4>Вещь</h4></th>
									<th style="width: 30%;"><h4 align="center">Кол-во</h4></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><h4>Хранитель</h4></td>
									<td><h4 align="center">2</h4></td>
								</tr>
								<tr>
									<td><h4>Щит хранителя</h4></td>
									<td><h4 align="center">1</h4></td>
								</tr>
								<tr>
									<td><h4>Шлем хранителя</h4></td>
									<td><h4 align="center">1</h4></td>
								</tr>
								<tr>
									<td><h4>Перчатки хранителя</h4></td>
									<td><h4 align="center">1</h4></td>
								</tr>
								<tr>
									<td><h4>Броня хранителя</h4></td>
									<td><h4 align="center">1</h4></td>
								</tr>
								<tr>
									<td><h4>Сапоги хранителя</h4></td>
									<td><h4 align="center">1</h4></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-md-4">
						<h3>Сет охотника</h3>
						<table class="table table-bordered table-sm" style="background: #F4CCCC">
							<thead>
								<tr>
									<th style="width: 70%;"><h4>Вещь</h4></th>
									<th style="width: 30%;"><h4 align="center">Кол-во</h4></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><h4>Меч берсекера</h4></td>
									<td><h4 align="center">2</h4></td>
								</tr>
								<tr>
									<td><h4>Кинжал охотника</h4></td>
									<td><h4 align="center">2</h4></td>
								</tr>
								<tr>
									<td><h4>Шапка охотника</h4></td>
									<td><h4 align="center">1</h4></td>
								</tr>
								<tr>
									<td><h4>Браслеты охотника</h4></td>
									<td><h4 align="center">1</h4></td>
								</tr>
								<tr>
									<td><h4>Куртка охотника</h4></td>
									<td><h4 align="center">1</h4></td>
								</tr>
								<tr>
									<td><h4>Ботинки охотника</h4></td>
									<td><h4 align="center">1</h4></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-11 offset-md-1" style="margin-top: 15px; margin-bottom: 15px">
				<h2>Т2</h2>
				<div class="row">
					<div class="col-md-4">
						<h3>Сет паладина</h3>
						<table class="table table-bordered table-sm" style="background: #FCE5CD">
							<thead>
								<tr>
									<th style="width: 70%;"><h4>Вещь</h4></th>
									<th style="width: 30%;"><h4 align="center">Кол-во</h4></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><h4>Трезубец</h4></td>
									<td><h4 align="center">3</h4></td>
								</tr>
								<tr>
									<td><h4>Щит паладина</h4></td>
									<td><h4 align="center">1</h4></td>
								</tr>
								<tr>
									<td><h4>Шлем паладина</h4></td>
									<td><h4 align="center">3</h4></td>
								</tr>
								<tr>
									<td><h4>Перчатки паладина</h4></td>
									<td><h4 align="center">2</h4></td>
								</tr>
								<tr>
									<td><h4>Броня паладина</h4></td>
									<td><h4 align="center">3</h4></td>
								</tr>
								<tr>
									<td><h4>Сапоги паладина</h4></td>
									<td><h4 align="center">2</h4></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-md-4">
						<h3>Сет демона</h3>
						<table class="table table-bordered table-sm" style="background: #FCE5CD">
							<thead>
								<tr>
									<th style="width: 70%;"><h4>Вещь</h4></th>
									<th style="width: 30%;"><h4 align="center">Кол-во</h4></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><h4>Экскалибур</h4></td>
									<td><h4 align="center">3</h4></td>
								</tr>
								<tr>
									<td><h4>Кинжал демона</h4></td>
									<td><h4 align="center">3</h4></td>
								</tr>
								<tr>
									<td><h4>Шапка демона</h4></td>
									<td><h4 align="center">3</h4></td>
								</tr>
								<tr>
									<td><h4>Браслеты демона</h4></td>
									<td><h4 align="center">2</h4></td>
								</tr>
								<tr>
									<td><h4>Куртка демона</h4></td>
									<td><h4 align="center">3</h4></td>
								</tr>
								<tr>
									<td><h4>Ботинки демона</h4></td>
									<td><h4 align="center">2</h4></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-11 offset-md-1" style="margin-top: 15px; margin-bottom: 15px">
				<h2>Т3</h2>
				<div class="row">
					<div class="col-md-4">
						<h3>Сет крестоносца</h3>
						<table class="table table-bordered table-sm" style="background: #D9EAD3">
							<thead>
								<tr>
									<th style="width: 70%;"><h4>Вещь</h4></th>
									<th style="width: 30%;"><h4 align="center">Кол-во</h4></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><h4>Алебарда</h4></td>
									<td><h4 align="center">4</h4></td>
								</tr>
								<tr>
									<td><h4>Щит крестоносца</h4></td>
									<td><h4 align="center">2</h4></td>
								</tr>
								<tr>
									<td><h4>Шлем крестоносца</h4></td>
									<td><h4 align="center">4</h4></td>
								</tr>
								<tr>
									<td><h4>Перчатки крестоносца</h4></td>
									<td><h4 align="center">3</h4></td>
								</tr>
								<tr>
									<td><h4>Броня крестоносца</h4></td>
									<td><h4 align="center">4</h4></td>
								</tr>
								<tr>
									<td><h4>Сапоги крестоносца</h4></td>
									<td><h4 align="center">3</h4></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-md-4">
						<h3>Сет триумфа</h3>
						<table class="table table-bordered table-sm" style="background: #D9EAD3">
							<thead>
								<tr>
									<th style="width: 70%;"><h4>Вещь</h4></th>
									<th style="width: 30%;"><h4 align="center">Кол-во</h4></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><h4>Нарсил</h4></td>
									<td><h4 align="center">4</h4></td>
								</tr>
								<tr>
									<td><h4>Кинжал триумфа</h4></td>
									<td><h4 align="center">4</h4></td>
								</tr>
								<tr>
									<td><h4>Шапка триумфа</h4></td>
									<td><h4 align="center">4</h4></td>
								</tr>
								<tr>
									<td><h4>Браслеты триумфа</h4></td>
									<td><h4 align="center">3</h4></td>
								</tr>
								<tr>
									<td><h4>Куртка триумфа</h4></td>
									<td><h4 align="center">4</h4></td>
								</tr>
								<tr>
									<td><h4>Ботинки триумфа</h4></td>
									<td><h4 align="center">3</h4></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-11 offset-md-1" style="margin-top: 15px; margin-bottom: 15px">
				<h2>Т4</h2>
				<div class="row">
					<div class="col-md-4">
						<h3>Сет отчаяния</h3>
						<table class="table table-bordered table-sm" style="background: #CFE2F3">
							<thead>
								<tr>
									<th style="width: 70%;"><h4>Вещь</h4></th>
									<th style="width: 30%;"><h4 align="center">Кол-во</h4></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><h4>Черная пика</h4></td>
									<td><h4 align="center">5</h4></td>
								</tr>
								<tr>
									<td><h4>Щит отчаяния</h4></td>
									<td><h4 align="center">2</h4></td>
								</tr>
								<tr>
									<td><h4>Шлем отчаяния</h4></td>
									<td><h4 align="center">5</h4></td>
								</tr>
								<tr>
									<td><h4>Перчатки отчаяния</h4></td>
									<td><h4 align="center">4</h4></td>
								</tr>
								<tr>
									<td><h4>Броня отчаяния</h4></td>
									<td><h4 align="center">5</h4></td>
								</tr>
								<tr>
									<td><h4>Сапоги отчаяния</h4></td>
									<td><h4 align="center">4</h4></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-md-4">
						<h3>Сет Ночного Ордена</h3>
						<table class="table table-bordered table-sm" style="background: #CFE2F3">
							<thead>
								<tr>
									<th style="width: 70%;"><h4>Вещь</h4></th>
									<th style="width: 30%;"><h4 align="center">Кол-во</h4></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><h4>Свет Луны</h4></td>
									<td><h4 align="center">5</h4></td>
								</tr>
								<tr>
									<td><h4>Кинжал Ночного Ордена</h4></td>
									<td><h4 align="center">5</h4></td>
								</tr>
								<tr>
									<td><h4>Шапка Ночного Ордена</h4></td>
									<td><h4 align="center">5</h4></td>
								</tr>
								<tr>
									<td><h4>Браслеты Ночного Ордена</h4></td>
									<td><h4 align="center">4</h4></td>
								</tr>
								<tr>
									<td><h4>Куртка Ночного Ордена</h4></td>
									<td><h4 align="center">5</h4></td>
								</tr>
								<tr>
									<td><h4>Ботинки Ночного Ордена</h4></td>
									<td><h4 align="center">4</h4></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-11 offset-md-1" style="margin-top: 15px; margin-bottom: 15px">
				<h2>Вещи мастеров</h2>
				<div class="row">
					<div class="col-md-4">
						<h3>Для кузнецов</h3>
						<table class="table table-bordered table-sm" style="background: #D9D2E9">
							<thead>
								<tr>
									<th style="width: 70%;"><h4>Вещь</h4></th>
									<th style="width: 30%;"><h4 align="center">Кол-во</h4></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><h4>Клещи</h4></td>
									<td><h4 align="center">1</h4></td>
								</tr>
								<tr>
									<td><h4>Рукавицы</h4></td>
									<td><h4 align="center">1</h4></td>
								</tr>
								<tr>
									<td><h4>Кузнечная роба</h4></td>
									<td><h4 align="center">3</h4></td>
								</tr>
								<tr>
									<td><h4>Кузнечный молот</h4></td>
									<td><h4 align="center">3</h4></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-md-4">
						<h3>Для добытчиков</h3>
						<table class="table table-bordered table-sm" style="background: #D9D2E9">
							<thead>
								<tr>
									<th style="width: 70%;"><h4>Вещь</h4></th>
									<th style="width: 30%;"><h4 align="center">Кол-во</h4></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><h4>Кирка шахтёров</h4></td>
									<td><h4 align="center">1</h4></td>
								</tr>
								<tr>
									<td><h4>Молот гномов</h4></td>
									<td><h4 align="center">2</h4></td>
								</tr>
								<tr>
									<td><h4>Костолом</h4></td>
									<td><h4 align="center">3</h4></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>





